* {
  box-sizing: border-box;
}


body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #eaf6ff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* header ---------------- */
@keyframes bgSnake {
  0% {
    background: linear-gradient(0deg, #233241 10%, #222f3d 90%);
  }

  10% {
    background: linear-gradient(36deg, #233241 10%, #222f3d 90%);
  }

  20% {
    background: linear-gradient(72deg, #233241 10%, #222f3d 90%);
  }

  10% {
    bac9ground: linear-gradient(108deg, #233241 10%, #222f3d 90%);
  }

  40% {
    background: linear-gradient(144deg, #233241 10%, #222f3d 90%);
  }

  50% {
    background: linear-gradient(180deg, #233241 10%, #222f3d 90%);
  }

  60% {
    background: linear-gradient(216deg, #233241 10%, #222f3d 90%);
  }

  70% {
    background: linear-gradient(252deg, #233241 10%, #222f3d 90%);
  }

  80% {
    background: linear-gradient(288deg, #233241 10%, #222f3d 90%);
  }

  90% {
    background: linear-gradient(324deg, #233241 10%, #222f3d 90%);
  }

  100% {
    background: linear-gradient(360deg, #233241 10%, #222f3d 90%);
  }
}



.header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background: linear-gradient(0deg, #32495f 10%, #222f3d 50%);
  /* animation: bgSnake 2s linear infinite; */
}

.header-logo {
  height: 30px;
  width: 30px;
  background-color: rgb(40, 36, 36);
  border-radius: 4px;
  margin: auto .85rem;
}

@keyframes changeColors {
  0% {
    color: rgb(201, 192, 175);
  }

  25% {
    color: #e96688;
  }

  50% {
    color: #b2ff7e;
  }

  75% {
    color: #7f7fde;
  }

  100% {
    color: rgb(201, 192, 175);
  }
}

.header>h2 {
  color: rgb(201, 192, 175);
  margin: auto auto;
  animation: changeColors 4s linear infinite;
}

.panel-link {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 2.5rem;
}

.arrow-right {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.panel-link ul a {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

ul span {
  display: inline-block;
  margin: 0 3px;
}

/* main sections --------- */

.main {
  margin: auto;
  padding: 2rem 1rem;
  /* background-color: #0f172a; */
  height: 100%;
  min-height: 72vh;
  /* margin-bottom: .6rem; */
  /* max-width: 700px; */
}

#generating {
  text-align: center;
  display: none;
}

.prompt-text {
  color: #534e56;
  display: block;
  padding: 5px 5%;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  max-width: 900px;
  /* for respecting inp width */
  margin: auto;
  /* border: 2px solid black; */

}


input {
  height: 2.5rem;
  width: 70%;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 2rem;
}

input,
select {
  height: 2.5rem;
  width: 70%;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  background-color: #fff;
  text-indent: 2rem;
}

.select-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

label {
  width: 30%;
  height: 1.5rem;
  font-size: small;
  font-weight: 400;
  min-width: 100px;
}

select {
  width: 70%;
}


.fm-btn {
  border-radius: 7px;
  margin: .5rem auto 10px auto;
  width: 50%;
  height: 40px;
  background: linear-gradient(1deg, #38b7e1b6 5.18%, #ffffff 100%);
  cursor: pointer;
  border: none;
  color: rgb(55 18 59);
  font-weight: 600;
}

.fm-btn:hover {
  /* transform: rotate3d(width) 2s; */
  background: linear-gradient(180deg, #5dd26b 5.18%, #ffffff 100%);
  ;
}

/* ------images-------- */
.image-container {
  padding: 1rem 1.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}


.image-item {
  position: relative;
  margin: 5px auto 5px auto;
  box-shadow: 0px 0px 5px 3px rgba(117, 116, 116, 0.477);
  transition: all 2s ease-in-out 1s;
}

.image-item:hover {
  box-shadow: .8rem .8rem 15px 10px rgba(88, 84, 84, 0.785);
  border-radius: 5px;
  transform: scale(1.1);
  z-index: 1;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  /* border: 5px solid #d5d4d8; */

}

.image-item a {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  padding: .2rem .5rem;
  color: white;
  font-size: .75rem;
  text-decoration: none;
  background-color: rgba(70, 68, 68, 0.466);
  border-radius: 5px;
}

.image-item a:hover {
  background-color: rgba(9, 9, 9, 0.9);
  cursor: pointer;
}

.pagination {
  font-size: smaller;
  margin: 1rem auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.pagination a,
.pagination .current-page {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #007BFF;
  text-decoration: none;
}

.pagination .current-page {
  background-color: #f3f6f9;
  color: #282828;
}

@media (max-width: 770px) {
  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .image-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* -------footer */



footer {
  width: 100%;
}

.f-panel-1 {
  padding: 15px;
  background-color: #222f3d;
  /* display: flex;
  justify-content: space-evenly; */
  color: white;
  font-size: 1rem;
  text-align: center;
}

.f-panel-2 {
  background-color: #131A22;
  color: white;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  padding: 10px 0 10px 0;
}


.footer-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.footer-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}